body, html {
    height: 100%;
}

#books-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 48px;
    max-width: 1200px;
    margin: 0 auto;
}

.book {
    display: flex;
    align-items: center;
    position: relative;
    padding: 24px 128px;
    background: #eee;
    border-radius: 8px;
    font-size: 48px;
    font-family: "Times New Roman", serif;
}

.book:nth-child(2n)  {
    display: flex;
    flex-direction: row-reverse;
}

.book:not(:last-child) {
    margin-bottom: 64px;
}

.book__cover {
    display: flex;
    margin: -48px 128px -48px 0;
    width: 320px;
    min-width: 320px;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 20px #00000050, 0 20px 40px #00000035, 0 40px 80px #00000020;
    position: relative;
    z-index: 1;
}

.book:nth-child(2n) .book__cover  {
    margin: -48px 0 -48px 128px;
}

.book__cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.book__description {
    width: 100%;
    position: relative;
    z-index: 1;
}

.book__author {
    margin-top: 24px;
    color: #555;
    font-style: italic;
    font-size: 36px;
}

.book__bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 700px;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    border-radius: 8px;
}

.book:nth-child(2n) .book__bg {
    left: auto;
    right: 0;
}

.book__bg:after {
    content: "";
    position: absolute;
    right: 0;
    width: 450px;
    height: 100%;
    background: linear-gradient(-90deg, #eee, #eeeeee00);
}

.book:nth-child(2n) .book__bg:after {
    left: 0;
    right: auto;
    background: linear-gradient(90deg, #eee, #eeeeee00);
}

.book__bg img {
    width: 300%;
    height: 300%;
    object-fit: cover;
    filter: blur(50px);
}

.book--bestseller:after {
    content: "Bestseller";
    position: absolute;
    z-index: 5;
    font-style: italic;
    font-size: 16px;
    right: 0;
    top: 24px;
    background: orange;
    padding: 12px 24px;
    border-radius: 28px 0 0 28px;
}

.book.book--bestseller:nth-child(2n):after {
    right: auto;
    left: 0;
    border-radius: 0 28px 28px 0;
}